* {
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

html {
  font-size: 20px; }

header {
  background-color: white;
  height: 5rem;
  justify-content: left;
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 20px  black; }

#logo {
  background-image: url("/assets/logo.svg");
  background-position: center left;
  background-repeat: no-repeat;
  display: flex;
  height: 65px;
  width: 100%; }

#plus {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  margin-right: 15px;
  justify-content: center;
  border-color: orange;
  background-color: white;
  font-size: 2rem;
  line-height: 8px;
  color: #f1592a; }

.topMenu {
  display: flex;
  height: 3rem;
  border: solid 3px yellow;
  background-color: #3A3A3C;
  font-family: 'Oswald', serif;
  font-style: bold;
  color: #818285; }

span {
  display: flex;
  flex: 1 0 33%;
  justify-content: center;
  align-items: center;
  border-right: solid 1px #818285; }

body {
  background-image: url("/assets/bg.jpg");
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  width: 100%; }

#mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-flow: row wrap; }

.mediaContainer {
  background-color: white;
  border-color: solid 2px black;
  width: 100%;
  display: inline-block;
  position: relative;
  margin: 0.5rem; }

.aspectRatio {
  margin-bottom: 100%; }

.imageDataContainer, .linkAsImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; }

.dataImage {
  height: 60%;
  width: 100%;
  justify-content: center;
  background-size: cover;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px; }
